<div class="header">
    <div class="row">
        <div class="col-10">
            <h1 class="page-title"><a class="icon circle-icon fa fa-remove trigger-message-close"></a>
                Baserates
            </h1>
        </div>
        <div class="col-2 text-right">
            <a href="#" class="fa fa-plus fa-2x pointer addEntry"
               data-url="{{ path('renderModalAddField', {'field':'Ratecode'|encrypt}) }}"
               data-url-save="{{ path('ajaxEditFieldModal') }}"
               data-parent-entity="{{ 'Ratecode'|encrypt }}"
               data-add-heading="Create new Baserate"
               data-tbody-id="tBodyRatecode"></a>
        </div>
    </div>
</div>
<div class="messageFly-nano-wrapper nano">
    <div class="nano-content">
        <div class="message-container">
            <div class="message-box">
                <div class="message">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">Code</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody id="tBodyRatecode">
                                {% for rate in rates %}
                                    <tr>
                                        <td class="text-center">
                                            {{ rate.code }}
                                        </td>
                                        <td>{{ rate.description }}</td>
                                        <td class="text-center">{{ rate.value }}</td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-danger tt" title="Remove Rate"><i class="fa fa-remove"></i></a>
                                            <a href="#" class="btn btn-warning tt" title="Edit Rate"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>